<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>코드 메이트 - 백준의 모든 답</title>
    <link th:rel="stylesheet" href="/css/nav_bar.css">
    <link th:rel="stylesheet" href="/css/table.css">
</head>
<body>
<div class="menu">
    <nav class="clearfix">
        <ul class="clearfix">
            <li><a href="http://localhost:8080">Home</a></li> <!--""<-여기 부분에 URL 작성하면 됨-->
            <li><a href="http://localhost:8080/answer/list">Answer List</a></li>
            <li><a href="http://localhost:8080">Ranking</a></li>
            <li><a href="http://localhost:8080">Notice</a></li>
            <li><a href="http://localhost:8080">MyPage</a></li>
        </ul>
    </nav>
</div>
<table>
    <thead>
    <tr>
        <th scope="col">문제 번호</th>
        <th scope="col">작성자</th>
        <th scope="col">답안 보기</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="answer : ${answers}">
        <td><span th:text="${answer.getBackjoonId()}">백준 문제 번호</span></td>
        <td><span th:text="${answer.getProgrammerName()}">작성자</span></td>
        <td>
            <a th:href="@{http://localhost:8080/answer/list/answer/{id}(id = ${answer.getAnswerId()})}">
                <span>조회하기</span>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>