<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>코드 메이트 - 백준의 모든 답</title>
    <link rel="stylesheet" href="/css/nav_bar.css">
    <link rel="stylesheet" href="/css/basic.css">
</head>
<body>
<nav id="mainNav">
    <div class="nav-left">
        <a href="/">홈</a>
        <a href="/answer/list">풀이 목록</a>
    </div>
    <div class="nav-right">
        <a href="/login">로그인</a>
        <a href="/register">회원가입</a>
    </div>
</nav>

<script src="/js/auth.js" defer></script>
</body>
</html>