<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>코드 메이트 - 백준의 모든 답</title>
    <link th:rel="stylesheet" href="/css/nav_bar.css">
</head>
<body>
<div class="menu" >
    <nav class="clearfix">
        <ul class="clearfix">
            <li><a href="http://localhost:8080">Home</a></li> <!--""<-여기 부분에 URL 작성하면 됨-->
            <li><a href="http://localhost:8080">Answer List</a></li>
            <li><a href="http://localhost:8080">Ranking</a></li>
            <li><a href="http://localhost:8080">Notice</a></li>
            <li><a href="http://localhost:8080">MyPage</a></li>
        </ul>
    </nav>
</div>
</body>
</html>